#container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 600px;
    height: 600px;
    align-items: stretch;
    justify-content: stretch;
}

.row {
    display: flex;
    gap: 1px;
    flex: 1;
}

.square {   
    flex: 1;
    border: 1px solid gray;
}